{% extends 'base.html.twig' %}

{% block title %}Редактирование роли{% endblock %}

{% block content %}
    <h1>Редактирование роли: {{ role.name }}</h1>

    <!-- Форма для редактирования роли -->
    <form method="post" action="{{ path('edit_role', {'id': role.id}) }}">
        <div>
            <label for="role_name">Название роли:</label>
            <input type="text" id="role_name" name="role_name" value="{{ role.name }}" required>
        </div>

        <button type="submit">Сохранить изменения</button>
    </form>

    <a href="{{ path('admin_roles') }}" class="btn">Отмена</a>
{% endblock %}
