{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="post" action="{{ path('app_login') }}">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="inputName">Username</label>
        <input type="text" value="{{ last_username }}" name="name" id="inputName" required autofocus>

        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" required>

        <button type="submit">Login</button>
    </form>
{% endblock %}
